openapi: "3.1.0"

info:
  title: DTEP-F Corner 5 API
  description: |
    DTEP-F (Digital Transaction Evidence Protocol — Fiscal Layer) Corner 5 API.
    Receives EN 16931 invoice data from Peppol Access Points, stores signed DRR records,
    and provides query and audit endpoints.
    Built on GNU Taler. Specification: https://github.com/SolidarityLab/L-euro/tree/main/DTEP/DTEP-F
  version: "0.1-draft"
  contact:
    name: CSDT / SolidarityLab
    url: https://solidaritylab.eu
    email: api@solidaritylab.eu
  license:
    name: EUPL-1.2
    url: https://eupl.eu/1.2/en/

servers:
  - url: https://corner5.solidaritylab.eu/dtep/v1
    description: Reference implementation sandbox (not yet deployed)

tags:
  - name: submission
    description: Corner 5 invoice submission endpoint
  - name: query
    description: Public DRRDB query endpoints
  - name: audit
    description: Protected audit endpoints — institutional access only

paths:

  /submit:
    post:
      tags: [submission]
      summary: Submit EN 16931 invoice to Corner 5
      description: |
        Accepts a signed EN 16931 UBL 2.1 XML invoice from a Peppol Access Point.
        Executes the atomic Taler Exchange operation (DD-18 scrubbing, coin commitment,
        Ed25519 signing) and stores the resulting DRR record in DRRDB.
        Returns the public DTEP JSON object (M0-M5) and the Exchange signature.
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              type: string
              description: EN 16931 UBL 2.1 XML invoice. Must be signed per Peppol AS4.
      responses:
        "201":
          description: DRR record created and stored successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DtepPublicObject"
        "400":
          description: Invalid or incomplete EN 16931 invoice
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Duplicate M0 — invoice already submitted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          description: Taler Exchange unavailable — batch mode activated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /query:
    get:
      tags: [query]
      summary: Query public DRRDB
      description: |
        Query the DRRDB public level. Returns DRR records matching the specified filters.
        No authentication required. No subject identifiers in response.
      parameters:
        - name: m1_from
          in: query
          description: Start of time window. ISO 8601 hourly bucket format.
          schema:
            type: string
            pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:00:00Z$"
          example: "2026-08-01T00:00:00Z"
        - name: m1_to
          in: query
          description: End of time window. ISO 8601 hourly bucket format.
          schema:
            type: string
            pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:00:00Z$"
          example: "2026-08-31T23:00:00Z"
        - name: m2_cpv
          in: query
          description: CPV code filter. Eight-digit format.
          schema:
            type: string
            pattern: "^[0-9]{8}-[0-9]$"
          example: "45000000-7"
        - name: m3_nace
          in: query
          description: Seller NACE code filter.
          schema:
            type: string
            pattern: "^[A-U][0-9]{2}(\\.[0-9]{1,2})?$"
          example: "F41"
        - name: m4_nace
          in: query
          description: Buyer NACE code filter.
          schema:
            type: string
            pattern: "^[A-U][0-9]{2}(\\.[0-9]{1,2})?$"
          example: "G46"
        - name: m5_min
          in: query
          description: Minimum amount filter (EUR).
          schema:
            type: string
            pattern: "^[0-9]+\\.[0-9]{2}$"
        - name: m5_max
          in: query
          description: Maximum amount filter (EUR).
          schema:
            type: string
            pattern: "^[0-9]+\\.[0-9]{2}$"
        - name: limit
          in: query
          description: Maximum number of records to return. Default 100, max 1000.
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
        - name: offset
          in: query
          description: Pagination offset.
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: Query results
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total matching records
                  records:
                    type: array
                    items:
                      $ref: "#/components/schemas/DtepPublicObject"
        "400":
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /audit-request:
    post:
      tags: [audit]
      summary: Submit Audit Request for specific M0 element
      description: |
        Protected endpoint. Submits an Audit Request for a specific M0 coin commitment.
        Returns Artifact A (full encrypted audit record) for that M0 only.
        Requires institutional credentials via eIDAS 2.0 / EUDIW.
      security:
        - eidas_wallet: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuditRequest"
      responses:
        "200":
          description: Audit record returned
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuditResponse"
        "401":
          description: Unauthorised — invalid or missing institutional credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden — credentials do not have audit authority for this M0
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: M0 not found in DRRDB
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:

  securitySchemes:
    eidas_wallet:
      type: http
      scheme: bearer
      bearerFormat: eIDAS 2.0 EUDIW credential
      description: |
        eIDAS 2.0 / EUDIW institutional credential for tax authority audit access.
        Credential must assert tax administration authority for the relevant jurisdiction.

  schemas:

    DtepPublicObject:
      description: Public DTEP-F record (M0-M5). No subject identifiers.
      $ref: "dtep-public.json"

    AuditRequest:
      type: object
      required:
        - m0_commitment
        - justification
        - authority_credential
      properties:
        m0_commitment:
          type: string
          description: Taler coin commitment of the M0 element subject to audit.
        justification:
          type: string
          description: Reason for Audit Request. Logged with full audit trail.
          maxLength: 500
        authority_credential:
          type: string
          description: eIDAS 2.0 institutional credential reference.
      additionalProperties: false

    AuditResponse:
      type: object
      required:
        - m0_commitment
        - artifact_a
        - request_logged_at
      properties:
        m0_commitment:
          type: string
          description: M0 coin commitment confirmed.
        artifact_a:
          description: Full encrypted audit record for this M0.
          $ref: "dtep-encrypted.json"
        request_logged_at:
          type: string
          format: date-time
          description: Timestamp of Audit Request logging. Immutable audit trail.
      additionalProperties: false

    ErrorResponse:
      type: object
      required:
        - error_code
        - message
      properties:
        error_code:
          type: string
          enum:
            - MISSING_MANDATORY_FIELD
            - INVALID_CPV_CODE
            - INVALID_NACE_CODE
            - INVALID_TIMESTAMP
            - DUPLICATE_M0
            - INVALID_SIGNATURE
            - EXCHANGE_UNAVAILABLE
            - UNAUTHORISED
            - FORBIDDEN
            - NOT_FOUND
        message:
          type: string
          description: Human-readable error description.
        field:
          type: string
          description: Affected EN 16931 field identifier (e.g. BT-109). Present for field-level errors.
      additionalProperties: false
